<div class="mobile-app">
  <div class="container">
    <div class="col-md-5 app-left">
      <a href="mobileapp.html"><img src="../../../../../assets/images/home/mobile.png" alt=""></a>
    </div>
    <div class="col-md-7 app-right">
      <h3>Learn from any mobile device!</h3>
      <p>The user experience is better when you can do with less and impreve your skill no matters where you are, your lessons will be righth there with you to offer you the best quality and portability.</p>
      <div class="app-buttons">
        <div class="clearfix"> </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
