<div class="banner">
  <div class="container">

    <!--banner-->
    <div class="slider">
      <ul class="rslides" id="slider2">
        <li>
          <div class="banner-text">
            <h2>  Discover your environment <span>Discover our teachers</span></h2>
            <h6> They can help you out with any issue that you're facing</h6>
          </div>
        </li>
        <li>
          <div class="banner-text">

            <h2> Feel free to learn <span> Learn what you want!</span></h2>
            <h6>Enrroll into our courses to improve your skills</h6>
          </div>
        </li>
        <li>
          <div class="banner-text">
            <h2> No frontiers <span>Whenever and wherever</span></h2>
            <h6>Our platform allows you work comfortable no matters the space and time</h6>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
